*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}
body{
    margin:20px 10px;
}
.header{
    display:flex;
    width:100%;
    flex-direction:column;
    text-align: center;
    margin-bottom:20px;
}
.logo{
    height:40px;
    background-color: rgb(193, 188, 188);
    display: flex;
    align-items: center;
    justify-content: center;
}
.slider{
    background-color: rgb(193, 188, 188);
    height:100px;
    margin: 20px 0;
    display: flex;
    align-items: center;
    justify-content: center;
}
nav ul{
    list-style: none;
    display:flex;
    justify-content: space-between;
}
li#nav-size-second{
    margin:0 20px;
}
li#nav-size-third{
    margin-right:20px;
}
nav li{
    width:25%;
    height: 30px;
    background-color: rgb(193, 188, 188);
    display: flex;
    align-items: center;
    justify-content: center;
}
nav a{
    color:black;
}
main{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 25px;
}
.left{
    width:50%;
    height:350px;
    background-color: rgb(193, 188, 188);
    display: flex;
    align-items: center;
    justify-content: center;
}
.right{
    width:48%;
    display: flex;
    flex-direction:column;
    justify-content:space-between;
}
.quick-links-top{
    height:130px;
    background-color: rgb(193, 188, 188);
    display: flex;
    align-items: center;
    justify-content: center;
}
.quick-links-bottom{
    background-color: rgb(193, 188, 188);
    height:195px;
    display: flex;
    align-items: center;
    justify-content: center;
}
footer{
    background-color: rgb(193, 188, 188);
    height:100px;
    display: flex;
    align-items: center;
    justify-content: center;
}